p,span,button,input,div{
    font-family: "微软雅黑";
}
.all-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
body{    
    min-width: 1200px;
    background-color: unset;
}
.headright a{
    color: white;
}
.headright a:hover{
    color: white;
    text-decoration: none;
}
.head{
    width: 1180px;
    padding: 0 10px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    cursor: default;
}
.logoimg{
    height: 70px;
}
.headright{
    position: relative;
}
.headrigth-top,.headright-bot{
    font-size: 16px;
}
.headrigth-top li{
   float: left;
   color: white;
   margin-right: 40px;
}
.headrigth-top img{
    margin-right: 5px;
}
.headrigth-top li:nth-of-type(5){
    margin-right: 0;
}
.headrigth-top li:nth-of-type(4){
    margin-right: 20px;
}
.headright-bot{
    float: left;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    margin-left: 20%;
    color: white;
}
.headright-bot span{
    line-height: 38px;
}
.prompt{
    background: red;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    padding: 1px 4px;
    position: relative;
    top: -2px;
}
.prompt-top{
    top: -12px;
}
.addbuton{
    background: #FEB500;
    width: 124px;
    height: 38px;
    text-align: center;
    font-weight: bold;
}
.maincontent{    
    width: 1200px;
    min-height: 1058px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    display: none;
}
.contenleft{
    background: rgba(0, 37, 160, 0.42);
    width: 20%;
    border-radius: 6px;
    cursor: default;
}
.monpoints{    
    padding:20px 0px 10px 0px;
}
.montimg{
    width: 25px;
    margin-left: 34px
}
.gneral{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    position: relative;
    top: 5px;
}
.linehr{
    width: 200px;
    border: 1px solid #6F92DF;
    margin-top: 5px;
}
.report{
    text-align: center;    
    color: #ffffffeb;
    font-size: 16px;
    cursor: pointer;
}
.reporte8{
    color: #E8F024;
}
.contentright{
    width: 80%;
}
.conright-top{
    background: #6082B6;
    height: 75px;
    margin-top: -10px;
    border-radius: 10px;
    line-height: 75px;
    padding-left: 20px;
}
.conright-nav li{
    float: left;
    margin-right: 20px;
    padding: 0 10px;
}
.conright-nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    height: 76px;
    display: inline-block;
}
.conright-nav img{
    margin-right: 10px;
}
.nav{    
    margin-bottom: 20px;
    font-size: 16px;
}
.cetnen-prot{
    min-height: 836px;   
    padding: 20px;
    padding-right: 0;
    background: #fff;
    border-radius: 6px;
    cursor: default;
    margin-top: 5px;    
    position: relative;
    padding-bottom: 164px;    
}
.prot-red{
    margin-top: 30px;
    margin-bottom: 20px;
    color: red;
    font-size: 17px;
    margin-left: 80px;
}
.prot-flex{
    display: flex;
    font-size: 17px;
}
.prot-names{
    width: 130px;
    margin-right: 20px;
}
.prot-names li{
    margin-bottom: 30px;    
    text-align: right;
}
.prot-value li{
    margin-bottom: 28px;
}
.prot-password{
    color: #00A1EA;
    margin-right: 80px;
}
.prot-but{
    width: 90px;
    height: 30px;
    background: #F19249;
    color: #fff;
    border-radius: 2px;
}
.prot-but:nth-of-type(1){
    margin-right: 10px;
    width: 80px;
    background: #00A1EA;
}
.prot-type{
    width: 100px;
    height: 30px;
    color: #bbb;
    border: 1px solid #bbb;
    background: none;
}
.prot-type1{
    background: #00A1EA;
    color: #fff;
    border-color: #00A1EA;
}
.prot-textarea{
    width: 400px;
    height: 120px;
    border: 1px solid #bbb;
    border-radius: 3px;
    resize: none;
}
.prot-submit{
    width: 110px;
    height: 30px;
    background: #00A1EA;
    color: #fff;
    display: block;
    margin-left: 300px;
    font-size: 16px;    
}

.userset-box{
    display: none;
}
.userset-box .contenleft{
    height: 918px;
}
/* //////////start */
.popup-recharge{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    display: none;
    z-index: 3;
}
.popup-box{
    width: 900px;
    padding: 0px 0px 20px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -230px;
    margin-left: -450px;
    box-shadow: 0 0 2px #fff;
    cursor: default;
    z-index: 5;
    margin-bottom: 50px;
}
.popup-name{
    font-size: 26px;
    color: #00A2E8;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 40px;
    font-weight: bold;
}
.data-personage{
    display: flex;
}
.personage-ul{
    width: 150px;
    margin-right: 20px;
    text-align: right;
    font-size: 20px;
    margin-left: 100px;
}
.personage-ul li{
    margin-bottom: 30px; 
}
.personage-ul li:nth-child(3),
.personage-ul li:nth-child(4){
    margin-bottom: 133px;
}
.personage-data-ul li{
    margin-bottom: 20px;     
}
.personage-data-ul .name-databo{
    width: 480px;
    position: relative;
    margin-bottom: 30px;
}
.personage-data-ul input{
    width: 400px;
    height: 40px;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
}
.data-border{
    display: inline-block;
    border: 1px solid #D2D2D2;
    padding: 4px;
    height: 130px;
    width: 200px;
    margin-right: 10px;
}
.data-border img{
    width: 100%;
    height: 100%;
}
.color-d{
    color: #D2D2D2;    
    position: absolute;
    bottom: 0;
}
.data-add{
    font-size: 45px;
    margin: 45px 0 20px 0;
    color: #BCBCBC;
    text-align: center;
    height: 20px;
    line-height: 10px;
}
.data-name{
    font-size: 14px;
    color: #D2D2D2;
    text-align: center;
}
.data-submit,
.data-firm{
    font-size: 18px;
    color: #fff;
    width: 180px;
    height: 40px;
    background: #0097FF;
    margin-left: 300px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.check-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 4;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
input[type="number"]{
-moz-appearance: textfield;
}
.remove-x,
.firm-remove-x,
.firm-message-remove{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.centen-cen{
    display: flex;
    margin: 100px auto 0;
    width: 685px;     
}
.centen-user{
    width: 140px;    
    height: 190px;
    margin-right: 40px;
}
.centen-check{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.centen-top{
    font-size: 22px;
    margin-bottom: 60px;
    margin-top: 12px;
}
.centen-top a{
    margin-left: 20px;
    font-size: 16px;
    color: #00A1EA;
}
.centen-name{
    margin-bottom: 15px;
    font-size: 16px;
}
.centen-phon{
    font-size: 16px;   
}
.setting-submit{
    margin-top: 100px;
    width: 100px;
    height: 30px;
    background: #00A1EA;
    border-radius: 2px;
    color: #fff;
    margin: 100px auto;
    display: block;
    z-index: 1;
    position: relative;
}
.bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;        
}
.bottom img{
    width: 49%;
}


.popup-message{
    display: none;
}
.message-name{
    font-size: 23px;
    color: #00A2E8;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    padding: 10px 0 20px 0;    
    margin-bottom: 10px;
    font-weight: bold;
}
.message-box{
    width: 600px;
    height: 300px;
    padding: 0px 0px 20px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    box-shadow: 0 0 2px #fff;
    cursor: default;
    z-index: 6;
    margin-bottom: 50px;
}
.message-remove-x{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.message-name-ul li{
    margin-bottom: 20px;
    font-size: 15px;   
    margin-right: 10px;     
}
.message-value li{
    color: #00A1EA;
    font-size: 15px;
    margin-bottom: 20px;
}
.message-personage{
    justify-content: center;
}
.message-his{
    font-size: 15px;
    margin-bottom: 24px;
    text-align: center;
}
.message-button{
    text-align: center;
    width: 100%;
}
.message-button button{
    color: #fff;
    background: #F8B651;
    width: 110px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
}
.message-button .message-confirm{
    background: #00A1EA;
    margin-right: 60px;    
}
.message-button .hint-confirm{
    background: #00A1EA;
    margin-right: 60px;
}
.hint-cen{
    padding: 0 5%;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}
.hint-button{    margin-top: 50px;}
.hint-box{
    height: 250px;
    margin-top: -125px;
}
.popup-hint{
    display: none;
}

.firm-recharge{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    display: none;    
    z-index: 3;
}
.firm-recharge .personage-ul{
    width: 190px;
}

/* /////end */
.data-firm{
    display: block;
    margin: 40px auto;
}

/* 个人完成认证 */
.personage-attestation{
    display: none;
}
.firm-submit{
    margin-top: 60px;
    width: 100px;
    height: 30px;
    background: #00A1EA;
    border-radius: 2px;
    color: #fff;
    margin-right: 90px;
}
.firm-submit:nth-child(2){
    background: #F7B550;
}
.firm-button{
    position: relative;
    z-index: 1;
    text-align: center;
}
.firm-message{
    display: none;
}
.firm-hint{
    display: none;
}


/* 公告弹框 */
.ancement-play-box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000a3;
    z-index: 3;
    display: none;
}
.play-inbox{
    position: absolute;
    width: 950px;
    height: 550px;
    background: white;
    top: 50%;
    left: 50%;
    margin-left: -475px;
    margin-top: -275px;
    display: flex;
    justify-content: space-between;
}
.play-left-nav{
    width: 200px;
    background: black;
    font-size: 18px;
    color: white;
}
.play-left-nav li{
    height: 86px;
    line-height: 86px;
    padding-left: 20px;
    cursor: pointer;
}
.play-right .hides{
    display: none;
}
.play-right .showbox{
    display: block;
}
.play-left-nav img{
    width: 30px;
    margin-right: 10px;
}
.play-left-nav .play-img{
    width: 28px;
    margin-right: 18px;
    margin-top: -3px;
}
.play-left-nav .skyblue-color{
    background: #00A1EA;
}
.play-right{
    width: 750px;
}
.play-right .popup-namey{
    font-size: 30px;
    color: #00A2E8;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    padding: 25px 0 0px 0;
    font-weight: bold;
}
.play-right .time{
    color: #1b1919ad;
    font-size: 16px;
    margin: 0px 0px 40px;
    text-align: center;
}
.time-unread img{
    margin-right: 10px;
}
.unread-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D2;
    padding: 60px 10px 10px;
    margin: auto;
    width: 96%;
}
.play-right .title-unread{
    font-size: 22px;
}
.play-right .time-unread{
    color: #20AAE8;
    font-size: 16px;
    margin-top: 8px;
}
.play-right .content,.play-right .content-unread{
    font-size: 14px;
    color: #1d1919b5;
    width: 90%;
    text-indent: 2em;
    line-height: 30px;
    margin: auto;
}
.play-right .delet{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.play-right .content-unread{
    margin-top: 40px;
}
.play-right .delet-unread{
    position: absolute;
    right: 20px;
    top: 15px;
}
.play-right .return{
    padding: 6px 40px;
    background: #20AAE8;
    color: white;
    font-size: 18px;
    position: absolute;
    right: 40px;
    bottom: -280px;
}
.noread-ul{
    width: 95%;
    margin: auto;
    padding-top: 45px;
}
.noread-lis{
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 20px;
    padding: 6px 0px 15px;
    position: relative;
    cursor: default;
}
.lis-box{
    display: flex;
    justify-content: space-between;
}
.noread-lis .right{
    margin-right: 145px;
}
.noread-lis .content-s{
    font-size: 14px;
    color: #1d1919b5;
}
.noread-lis img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
.noread-lis .time{
    font-size: 12px;
    position: absolute;
    right: 30px;
    bottom: -33px;
    color: #66BDEE;
    /* font-weight: bold; */
}
.noread-lis .popup-title{
    font-size: 22px;
    color: #00A2E8;
    font-weight: bold;
}

.title-mains li,.hasread-title-mains li,.allread-title-mains li{
    position: relative;
}


.security-box .contenleft{
    height: 988px;
}

.surity-content{
    display: flex;
    justify-content: space-between;
    width: 605px;
    margin: 70px 0px 40px 40px;
}
.surity-content .big-round{
    display: block;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background: #00A1EA;
}
.right{
    margin-top: 15px;
}
.login-p{
    font-size: 30px;
    margin-bottom: 15px;
}
.login-p span{
    font-size: 20px;
    color: #0FBD3F;
}
.regised-p{
    width: 440px;
    height: 36px;
    font-size: 20px;
    color: #1B7BA6;
    background: #E0F5FF;
    text-align: center;
    line-height: 36px;
}
.level-ul li{
    display: flex;
    justify-content: space-between;
    border: 1px solid #1c1c1f1a;
    width: 90%;
    margin-left: 4.5%;
    margin-bottom: 15px;
    height: 100px;
    padding: 20px;
}
.level-ul .left,.level-div{
    display: flex;
    justify-content: space-between;
}
.level-ul .left{
    width: 520px;
}
.level-p{
    font-size: 20px;
    width: 160px;
    font-weight: bold;
    color: #434343;
}
.level-span{
    width: 260px;
    font-size: 18px;
    margin-top: 6px;
}
.level-span span{
    display: inline-block;
    width: 82px;
    background: #E5E5E5;
    color: white;
    margin-right: -6px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.level-span .level-class{
    background: #F8B651;
}
.efforts{
    margin-top: 15px;
    color: #24A7E8;
}
.level-right button{
    width: 88px;
    height: 32px;
    color: white;
    text-align: center;
    line-height: 32px;
    margin-right: 10px;
    margin-top: 12px;
}
.level-right .has-set{
    background: #00A1EA;
}
.level-right .change-set{
    background: #F8B651;
}
.login-top,.login-top-one,.login-top-two{
    display: flex;
    justify-content: space-between;
}
.login-top{
    width: 230px;
}
.login-top-one{
    margin-top: 15px;
    width: 506px;
}
.login-top-one span{
    margin-top: 6px;
}
.login-top-one .acuans{
    color: #00A3E8;
}
.login-top-two{
    width: 400px;
}
.login-top-two span{
    margin-top: 6px;
}
.login-top span{
    margin-top: 8px;
}
.lensp{
    font-size: 13px;
    color: #B9B9B9;
}
.login-password{
    width: 550px;
}
.alluser-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #0000007d;
   display: none;
}
.small-play{
    position: fixed;
    width: 782px;
    height: 350px;
    background: white;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -391px;
    padding: 80px 40px 60px;
}
.play-warpbox{
    justify-content: space-between;
    display: flex;
    width: 488px;
    margin-left: 8%;
}
.play-lefts li{
    text-align: right;
    font-size: 18px;
    color: #434343;
    margin-bottom: 42px;
}
.play-rights input{
    height: 40px;
    border: 1px solid #E5E5E5;
    padding-left: 10px;
}
.play-rights li{
    margin-bottom: 22px;
}
.play-rights li:nth-of-type(1)  input{
    width: 350px;
   
}
.play-rights li:nth-of-type(2) input{
    width: 206px;
}
.play-rights button{
    width: 135px;
    margin-left: 10px;
    height: 40px;
    color: white;
    font-size: 16px;
    background: #F19249;
}
.play-ps{
    width: 355px;
    margin: auto;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
}
.play-ps button{
    width: 130px;
    height: 40px;
    background: #00A1EA;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
}
.change-pass-small{
    width: 528px;
    height: 350px;
    background: white;
    padding: 38px 15px 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -264px;
}
.change-titlep{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 32px;
    color: #00A2E7;
    text-align: center;
    margin-bottom: 25px;
}
.change-con{
    display: flex;
    justify-content: space-between;
    width: 378px;
    margin: auto;
}
.change-lefts{
    font-size: 20px;
    text-align: right;
    color:#120d0dc4;
}
.change-lefts li{
    margin-bottom: 20px;
    margin-top: 6px;
}
.change-rights input{
    width: 265px;
    height: 40px;
    border: 1px solid #E5E5E5;
    padding-left: 10px;
}
.change-rights li{
    margin-bottom: 10px;
}
.change-q{
    width: 132px;
    height: 36px;
    background: #00A1EA;
    color: white;
    text-align: center;
    line-height: 36px;
    margin-left: 38%;
    margin-top: 2px;
}
.setting-small{
    position: fixed;
    top: 50%;
    margin-top: -151px;
    left: 50%;
    margin-left: -332px;
    width: 664px;
    height: 302px;
    padding: 38px 15px 75px;
    background: white;
}
.set-delet,.change-delet{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.set-success{
    width: 274px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.set-success span{
    font-size: 34px;
    color: #434343;
}

.email-play{
    position: fixed;
    width: 800px;
    padding: 20px;
    background: white;
    top:5%;
    left: 50%;
    margin-left: -400px;
}
.email-ul{
    width: 58%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #757574;
    margin: auto;
    margin: 40px auto 20px;
}
.email-top{
    font-size: 18px;
}
.email-top img{
    width: 30px;
    margin-right: 10px;
}
.email-play .delet{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.email-ul .left li{
    text-align: right;
    margin-bottom: 28px;
}
.email-ul .left li:nth-of-type(2){
   position: relative;
   top: -4px;
}
.email-ul .right-e input{
    width: 210px;
    height: 40px;
}
.email-ul .right-e li{
    margin-bottom: 15px;
}
.email-ul .right-e button{
    width: 126px;
    height: 40px;
    background: #F1914A;
    color:white;
    text-align: center;
    line-height: 40px;
}
.email-play .email-q{
    width: 130px;
    height: 40px;
    color: white;
    background: #00A1E9;
    text-align: center;
    line-height: 40px;
    margin-left: 40%;
    border-radius: 3px;
    font-size: 20px;
}
.email-play .footer{
    width: 90%;
    height: 145px;
    border:1px solid #6CDDFF;
    background: #D7F3FF;
    padding: 20px;
    margin:30px  auto 20px;
}
.email-play .footer li{
    font-size: 16px;
    color: #535555;
    margin-bottom: 10px;
}
.no-emailnumber{
    font-size: 24px;
}
.meg-pop-up{
    z-index: 1;
    height: 260px;
    width: 200px;
    padding: 10px 16px;
    color: white;
    position: absolute;
    right: 110px;
    top: 36px;
    background: #274788;
    display: none;
}
.meg-pop-up li{
    border-bottom: 1px solid #92A4C3;
    height: 50px;
    text-align: left;
}
.meg-pop-up li p{
    position: relative;
}
.standing-p{
    font-size: 11px;
}
.one-p{
    font-size: 12px;
    margin-left: -6px;
    top: 6px
}
.two-p{
    font-size: 10px;
    top: 2px;
}
.message-u{
    margin-top: -4px;
}
.more-a{
    display: block;
    text-align: center;
    margin-top: 6px;
    color: white;
    font-size: 12px;
}
.more-a:hover{
    color: white;
    text-decoration: none;
}


.userset-namerenbox{
    position: absolute;
    left: -150px;
    top: 40px;
    width: 234px;
    height: 34px;
    background: black;
    color: white;
    display: none;
}
.userset-namerenbox .kailong{
    position: absolute;
    top: -10px;
    right: 45px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid black;
}
.userset-namerenbox li{
    float: left;
    width: 116px;
    height: 30px;
    border-right: 1px solid #ffffff9c;
    text-align: center;
    line-height: 30px;
    margin-top: 2px;
    cursor: pointer;
}
.userset-namerenbox li a{
    width: 100%;
    height: 100%;    
    display: inline-block;
}
.headright a{
    color: white;
}
.headright a:hover{
    color: white;
    text-decoration: none;
}
.userset-namerenbox li:nth-of-type(2){
    border-right: none;
}
.accout-box{
    display: none;
    width: 250px;
    height: 82px;
    position: absolute;
    left: -26px;
    top: 40px;
}
.account-balance{
    background: black;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}
.account-balance .kailong{
    position: absolute;
    top: -10px;
    right: 45px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid black;
}
.account-balance  p{
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}
.account-balance  p span{
    color: yellow;
    margin-left: 5px;
}
.account-balance  img{
    width: 26px;
    margin-left: 5px;
    margin-bottom: 4px;
}
.account-balance .inter-cz{
    width: 80px;
    height: 25px;
    background: orange;
    color: white;
    text-align: center;
    line-height: 25px;
    margin-top: 15px;
}

.customBootstrap-relvaer{
    display: inline-block;
    position: relative;
}
.customBootstrap-relvaer p{
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: -100px;
    width: 92px;
    text-align: center;
    cursor: default;
}
.customBootstrap{
    padding-left: 130px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
input[type="number"]{
-moz-appearance: textfield;
}

.pagination>.active>a{
    color: #83D9FF;
    cursor: default;
    background-color: #fff;
    border-color: #fff;
}
.pagination>.disabled>a,
.pagination>li>a{
    border: 0;
    font-size: 18px;
}
.get-page{
    width: 52px;
    height: 30px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    text-align: center;
}
.customBootstrap-relvaer .page-p{
    left: 126%;
    width: 150px;
    top: 46%;
}
.pagination{
    margin-left: 30px;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus{
    background: unset;
    color: #83D9FF;
}
/* 充值弹出框 */
.popup-recharge,.cz-topup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: none;
}
.popup-box{
    width: 900px;
    height: 460px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -230px;
    margin-left: -450px;
    box-shadow: 0 0 2px #fff;
    cursor: default;
}
.cz-topup .popup-box{
    height: 402px;
    margin-top: -201px;
}
.popup-name{
    font-size: 34px;
    color: #00A2E8;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    padding: 35px 0 20px 0;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 40px;
    font-weight: bold;
}
.popup-number{
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 90px;
}
.popup-number span{
    margin-right: 20px;
}
.method{
    font-size: 20px;   
    margin-bottom: 20px;
    padding-left: 70px;
}
.method span,
.popup-money span{
    margin-right: 30px;
}
.method-img{
    width: 162px;
    height: 54px;
    margin-right: 25px;
    cursor: pointer;
}
.method-img:nth-of-type(1){
    box-shadow: blue 0px 0px 1px;
}
.popup-money{
    font-size: 20px;
    margin-bottom: 40px;
    position: relative;
    padding-left: 70px;
}
input{
    width: 130px;
    height: 40px;
    border: 1px solid #DCDCDC;
    padding-right: 36px;
    margin-right: 10px;
    font-size: 18px;
    padding-left: 10px;
}
.popup-money .yuan1{
    position: absolute;
    top: 20%;
    left: 32.5%;
    font-size: 18px;
}
.reds{
    color: red;
    font-size: 15px;
}
.popup-button{
    text-align: center;
}
.popup-button button{
    width: 140px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    margin-right: 60px;
    background: #00A1EA;
}
.popup-button .canel{
    background: #D2D2D2;
}
/* end */


.attestation-type{
    display: block;
}
.type-name{
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin: 30px 0 40px; 
}
.type-centen{
    display: flex;
    justify-content: space-between;
    width: 670px;
    margin: auto;
    z-index: 3;
    position: relative;
    background: #fff;
}
.centen-borber{
    border: 1px solid #00A1E9;
    border-radius: 6px;
    width: 300px;
    height: 181px;
    padding: 30px 0 5px 19px;
    display: flex;
}
.centen-borber img{
    width: 112px;
    margin-right: 30px;
}
.centen-borber .img1{
    height: 143px;
    width: 124px;
}
.type1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 46px;
    margin-top: 10px;
    text-align: center;
}
.type-button{
    width: 100px;
    height: 30px;
    color: #fff;
    background: #00B7EE;
}
.type-ringhts{
    position: absolute;
    right: 0;
    top: 215px;
    width: 441px;
    z-index: 0;
}
.firm-recharge .popup-box{
    height: auto;
}
.popup-recharge23{
    position: absolute;
}
.popup-recharge23 .popup-box{
    height: auto;
}
.popup-recharge23 .popup-namey{
    font-size: 34px;
    color: #00A2E8;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    padding: 35px 0 20px 0;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 40px;
    font-weight: bold;
}