p,span,button,input,div{
    font-family: "微软雅黑";
}
.navigation{    
    height: 56px;
    min-width: 1000px;
    width: 90%;
    margin: auto;
    line-height: 56px;
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.navigation span{
    cursor: pointer;
}
.navigation label{
    margin: 0 17px 0 24px;
}
.content{
    width: 100%;
    height: 100%;
    background: url("../img/forget-background.png") no-repeat;
    background-size: 100% 100%;
    padding: 90px 0;
}
.content-con{
    width: 410px;
    height: 740px;
    background: #fff;
    border-radius: 6px;
    padding: 80px 60px 0;
    cursor: default;    
    margin: auto;
}
.logo-name{
    margin-bottom: 25px;
    display: flex;   
    padding-left: 60px; 
}
img{
    width: 94px;
    height: 94px;
    margin-right: 20px;
    margin-top: -10px;
}
.name{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
}
.eglish{
    font-size: 14px;
    text-align: center;
}

button{
    color: #fff;
    font-size: 26px;
    width: 100%;
    height: 55px;
    background: #2BA7E0;
    cursor: pointer;
}
.star{
    color: red;
}
.star-name{
    font-size: 18px;
    margin-bottom: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
input[type="number"]{
-moz-appearance: textfield;
}
input{
    width: 100%;
    height: 52px;
    border: 1px solid #BFBFBF;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
.phone{
    margin-bottom: 30px;
}
.password{
    margin-bottom: 5px;
}
.password1{
    margin-bottom: 50px;
}
.two{
    margin-bottom: 20px;
    display: flex;
}
.verification{
    width: 68%;
    margin-right: 2%;
}
.gain{
    width: 30%;
    height: 52px;
    color: #fff;
    font-size: 18px;
    background: #00A1EA;
}
.hint{
    color: #9D9D9D;
    font-size: 14px;
    margin-bottom: 24px;
}