p,span,button,input,div{
    font-family: "微软雅黑";
}
.all-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
ol,ul{
    margin: 0px;
}
body{    
    min-width: 1200px;
    background-color: unset;
}
.headright{
    position: relative;
}
.headright a{
    color: white;
}
.headright a:hover{
    color: white;
    text-decoration: none;
}
.head{
    width: 1180px;
    padding: 0 10px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    cursor: default;
}
.logoimg{
    height: 70px;
}
.headrigth-top,.headright-bot{
    font-size: 16px;
}
.headrigth-top li{
   float: left;
   color: white;
   margin-right: 40px;
}
.headrigth-top img{
    margin-right: 5px;
}
.headrigth-top li:nth-of-type(6){
    margin-right: 0;
}
.headrigth-top li:nth-of-type(4) a{
    color: white;
    text-decoration: none;
}
.headright-bot{
    float: left;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    margin-left: 20%;
    color: white;
}
.headright-bot span{
    line-height: 38px;
}
.addbuton{
    background: #FEB500;
    width: 124px;
    height: 38px;
    text-align: center;
    font-weight: bold;
}
.maincontent{
    width: 1200px;
    min-height: 1058px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.contenleft{
    background: rgba(0, 37, 160, 0.42);
    width: 20%;
    border-radius: 6px;
    cursor: default;
    height: 1032px;
}
.monpoints{    
    padding:20px 0px 10px 0px;
}
.montimg{
    width: 25px;
    margin-left: 34px
}
.gneral{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    position: relative;
    top: 5px;
}
.linehr{
    width: 200px;
    border: 1px solid #6F92DF;
    margin-top: 5px;
}
.report{
    text-align: center;    
    color: #ffffffeb;
    font-size: 16px;
    cursor: pointer;
}
.reporte8{
    color: #E8F024;
}
.contentright{
    width: 80%;
}
.conright-top{
    background: #6082B6;
    height: 75px;
    /* margin-top: -10px; */
    border-radius: 10px;
    line-height: 75px;
    padding-left: 20px;
}
.conright-nav li{
    float: left;
    margin-right: 20px;
    padding: 2px 10px;
}
.conright-nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    height: 76px;
    display: inline-block;
}
.conright-nav .gaik{
    color: #4264A4;
}
.conright-nav img{
    margin-right: 10px;
}
.backless{
    background: white;
}
.nav{    
    margin-bottom: 20px;
    font-size: 16px;
}
.cetnen-prot{
    min-height: 950px;   
    padding: 20px;
    padding-right: 0;
    background: #fff;
    border-radius: 6px;
    cursor: default;
    margin-top: 5px;    
    position: relative;
    padding-bottom: 164px;
}
.prot-red{
    margin-top: 30px;
    margin-bottom: 20px;
    color: red;
    font-size: 17px;
    margin-left: 80px;
}
.prot-flex{
    display: flex;
    font-size: 17px;
}
.prot-names{
    width: 130px;
    margin-right: 20px;
}
.prot-names li{
    margin-bottom: 30px;    
    text-align: right;
}
.prot-value li{
    margin-bottom: 28px;
}
.prot-password{
    color: #00A1EA;
    margin-right: 80px;
}
.prot-but{
    width: 90px;
    height: 30px;
    background: #F19249;
    color: #fff;
    border-radius: 2px;
}
.prot-but:nth-of-type(1){
    margin-right: 10px;
    width: 80px;
    background: #00A1EA;
}
.prot-type{
    width: 100px;
    height: 30px;
    color: #bbb;
    border: 1px solid #bbb;
    background: none;
}
.prot-type1{
    background: #00A1EA;
    color: #fff;
    border-color: #00A1EA;
}
.prot-textarea{
    width: 400px;
    height: 120px;
    border: 1px solid #bbb;
    border-radius: 3px;
    resize: none;
}
.prot-submit{
    width: 110px;
    height: 30px;
    background: #00A1EA;
    color: #fff;
    display: block;
    margin-left: 300px;
    font-size: 16px;    
}

.popup-recharge{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    display: none;
    z-index: 3;
}
.popup-box{
    width: 900px;
    padding: 0px 0px 20px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -230px;
    margin-left: -450px;
    box-shadow: 0 0 2px #fff;
    cursor: default;
    z-index: 5;
    margin-bottom: 50px;
}
.popup-name{
    font-size: 26px;
    color: #00A2E8;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 40px;
    font-weight: bold;
}
.data-personage{
    display: flex;
}
.personage-ul{
    width: 150px;
    margin-right: 20px;
    text-align: right;
    font-size: 20px;
    margin-left: 100px;
}
.personage-ul li{
    margin-bottom: 30px; 
}
.personage-ul li:nth-child(3),
.personage-ul li:nth-child(4){
    margin-bottom: 133px;
}
.personage-data-ul li{
    margin-bottom: 20px;     
}
.personage-data-ul .name-databo{
    width: 480px;
    position: relative;
    margin-bottom: 30px;
}
.personage-data-ul input{
    width: 400px;
    height: 40px;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
}
.data-border{
    display: inline-block;
    border: 1px solid #D2D2D2;
    padding: 4px;
    height: 130px;
    width: 200px;
    margin-right: 10px;
}
.data-border img{
    width: 100%;
    height: 100%;
}
.color-d{
    color: #D2D2D2;    
    position: absolute;
    bottom: 0;
}
.data-add{
    font-size: 45px;
    margin: 45px 0 20px 0;
    color: #BCBCBC;
    text-align: center;
    height: 20px;
    line-height: 10px;
}
.data-name{
    font-size: 14px;
    color: #D2D2D2;
    text-align: center;
}
.data-submit,
.data-firm{
    font-size: 18px;
    color: #fff;
    width: 180px;
    height: 40px;
    background: #0097FF;
    margin-left: 300px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.check-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 4;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
input[type="number"]{
-moz-appearance: textfield;
}
.remove-x,
.firm-remove-x,
.firm-message-remove{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.centen-cen{
    display: flex;
    margin: 100px auto 0;
    width: 685px;     
}
.centen-user{
    width: 140px;    
    height: 190px;
    margin-right: 40px;
}
.centen-check{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.centen-top{
    font-size: 22px;
    margin-bottom: 60px;
    margin-top: 12px;
}
.centen-top a{
    margin-left: 20px;
    font-size: 16px;
    color: #00A1EA;
}
.centen-name{
    margin-bottom: 15px;
    font-size: 16px;
}
.centen-phon{
    font-size: 16px;   
}
.setting-submit{
    margin-top: 100px;
    width: 100px;
    height: 30px;
    background: #00A1EA;
    border-radius: 2px;
    color: #fff;
    margin: 100px auto;
    display: block;
    z-index: 1;
    position: relative;
}
.bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;        
}
.bottom img{
    width: 49%;
}


.popup-message{
    display: none;
}
.message-name{
    font-size: 23px;
    color: #00A2E8;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    padding: 10px 0 20px 0;    
    margin-bottom: 10px;
    font-weight: bold;
}
.message-box{
    width: 600px;
    height: 300px;
    padding: 0px 0px 20px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    box-shadow: 0 0 2px #fff;
    cursor: default;
    z-index: 6;
    margin-bottom: 50px;
}
.message-remove-x{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.message-name-ul li{
    margin-bottom: 20px;
    font-size: 15px;   
    margin-right: 10px;     
}
.message-value li{
    color: #00A1EA;
    font-size: 15px;
    margin-bottom: 20px;
}
.message-personage{
    justify-content: center;
}
.message-his{
    font-size: 15px;
    margin-bottom: 24px;
    text-align: center;
}
.message-button{
    text-align: center;
    width: 100%;
}
.message-button button{
    color: #fff;
    background: #F8B651;
    width: 110px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
}
.message-button .message-confirm{
    background: #00A1EA;
    margin-right: 60px;    
}
.message-button .hint-confirm{
    background: #00A1EA;
    margin-right: 60px;
}
.hint-cen{
    padding: 0 5%;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}
.hint-button{    margin-top: 50px;}
.hint-box{
    height: 250px;
    margin-top: -125px;
}
.popup-hint{
    display: none;
}

.firm-recharge{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    display: none;    
    z-index: 3;
}
.firm-recharge .personage-ul{
    width: 190px;
}
.data-firm{
    display: block;
    margin: 40px auto;
}

/* 个人完成认证 */
.personage-attestation{
    display: none;
}
.firm-submit{
    margin-top: 60px;
    width: 100px;
    height: 30px;
    background: #00A1EA;
    border-radius: 2px;
    color: #fff;
    margin-right: 90px;
}
.firm-submit:nth-child(2){
    background: #F7B550;
}
.firm-button{
    position: relative;
    z-index: 1;
    text-align: center;
}
.firm-message{
    display: none;
}
.firm-hint{
    display: none;
}


/* 公告弹框 */
.ancement-play-box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000a3;
    z-index: 3;
    display: none;
}
.play-inbox{
    position: absolute;
    width: 950px;
    height: 550px;
    background: white;
    top: 2%;
    left: 12%;
    display: flex;
    justify-content: space-between;
}
.play-left-nav{
    width: 200px;
    background: black;
    font-size: 18px;
    color: white;
}
.play-left-nav li{
    height: 86px;
    line-height: 86px;
    padding-left: 20px;
    cursor: pointer;
}
.play-right .hides{
    display: none;
}
.play-right .showbox{
    display: block;
}
.play-left-nav img{
    width: 30px;
    margin-right: 10px;
}
.play-left-nav .play-img{
    width: 28px;
    margin-right: 18px;
    margin-top: -3px;
}
.play-left-nav .skyblue-color{
    background: #00A1EA;
}
.play-right{
    width: 750px;
}
.play-right .popup-namey{
    font-size: 30px;
    color: #00A2E8;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    padding: 25px 0 0px 0;
    font-weight: bold;
}
.play-right .time{
    color: #1b1919ad;
    font-size: 16px;
    margin: 0px 0px 40px;
    text-align: center;
}
.time-unread img{
    margin-right: 10px;
}
.unread-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D2;
    padding: 60px 10px 10px;
    margin: auto;
    width: 96%;
}
.play-right .title-unread{
    font-size: 22px;
}
.play-right .time-unread{
    color: #20AAE8;
    font-size: 16px;
    margin-top: 8px;
}
.play-right .content,.play-right .content-unread{
    font-size: 14px;
    color: #1d1919b5;
    width: 90%;
    text-indent: 2em;
    line-height: 30px;
    margin: auto;
}
.play-right .delet{
    position: absolute;
    right: 20px;
    top: 15px;
}
.play-right .content-unread{
    margin-top: 40px;
}
.play-right .delet-unread{
    position: absolute;
    right: 20px;
    top: 15px;
}
.play-right .return{
    padding: 6px 40px;
    background: #20AAE8;
    color: white;
    font-size: 18px;
    position: absolute;
    right: 40px;
    bottom: -280px;
}
.noread-ul{
    width: 95%;
    margin: auto;
    padding-top: 45px;
}
.noread-lis{
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 20px;
    padding: 10px 0px 20px;
    position: relative;
}
.lis-box{
    display: flex;
    justify-content: space-between;
}
.noread-lis .right{
    margin-right: 145px;
}
.noread-lis .content-s{
    font-size: 14px;
    color: #1d1919b5;
}
.noread-lis img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
.noread-lis .time{
    font-size: 12px;
    position: absolute;
    right: 30px;
    bottom: -33px;
    color: #66BDEE;
    /* font-weight: bold; */
}
.noread-lis .popup-title{
    font-size: 22px;
    color: #00A2E8;
    font-weight: bold;
}

.title-mains li,.hasread-title-mains li,.allread-title-mains li{
    position: relative;
}
.help-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 30px;
    margin-top: 50px;
}
.help-name span {
    width: 6px;
    height: 22px;
    background: #2BA7E2;
    margin-right: 12px;
    display: inline-block;
    position: relative;
    top: 5px;
}
.mon-box{
    height: 247px;
    border: 1px solid darkgray;
    width: 98%;
}
.mon-contents{
    height:207px;
    padding: 30px 50px 0px;
}
.mon-contents li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.yuanblue{
    display: block;
    width: 20px;
    height: 20px;
    background: #00A0E9;
    border-radius: 50%;
    margin-right: 30px;
}
.text-span{
    font-size: 16px;
    color: #434343;
    margin-top: -2px;
}
.fenye-li{
    height: 40px;
    background: #EEEEEE;
    margin-top: -2px;
}
.statis{
    margin-top: 30px;
    margin-bottom: 30px;
}
.detail-title {
    height: 38px;
    background: #00A0E9;
    color: white;
}

.detail-title li {
    float: left;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    width: 19.5%;
}
.fox-d{
    max-height: 360px;
}
.invoice-lis {
    height: 38px;
    background: white;
}
.invoice-lis:nth-child(even){
    background: #EEEEEE;
}
.lis-li li {
    width: 16%;
    float: left;
    text-align: center;
    line-height: 38px;
}
.lis-li li:nth-of-type(1){
    padding-left: 24px;
}
.lis-li li:nth-of-type(2){
    padding-left: 72px;
}
.lis-li li:nth-of-type(3){
    width: 33%;
}
.lis-li li:nth-of-type(4){
    padding-right: 76px;
}   
.lis-li li:nth-of-type(5){
    padding-right: 18px;
} 
.fenye-li .customBootstrap1{
    margin-top: -2px;
}
.customBootstrap {
    padding-left: 100px;
    position: absolute;
    right: 205px;
    /* margin-top: 30px; */
}
.customBootstrap-relvaer {
    display: inline-block;
    position: relative;
}
.customBootstrap-relvaer p {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: -80px;
    width: 80px;
    text-align: center;
    cursor: default;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.customBootstrap-relvaer .page-p {
    left: 126%;
    width: 150px;
    top: 46%;
}
.get-page {
    width: 52px;
    height: 30px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    text-align: center;
}

.pagination>.active>a{
    color: #83D9FF;
    cursor: default;
    background-color: #fff;
    border-color: #fff;
}
.pagination>.disabled>a,
.pagination>li>a{
    border: 0;
    font-size: 18px;
}
.get-page,
.get-page1{
    width: 52px;
    height: 30px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    text-align: center;
}
.customBootstrap-relvaer .page-p{
    left: 126%;
    width: 150px;
    top: 46%;
}
.pagination{
    margin-left: 30px;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus{
    background: unset;
    color: #83D9FF;
}
#lists-paing1{
    margin: 0;
}
.pagination>li>a, .pagination>li>span,
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>.active>a,.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>li>a:focus,.pagination>li>a:hover{
    background: unset;
}

/* 公告弹框 */
.ancement-play-box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000a3;
    z-index: 3;
    display: none;
}
.play-inbox{
    position: absolute;
    width: 950px;
    height: 550px;
    background: white;
    top: 50%;
    left: 50%;
    margin-left: -475px;
    margin-top: -275px;
    display: flex;
    justify-content: space-between;
}
.play-left-nav{
    width: 200px;
    background: black;
    font-size: 18px;
    color: white;
}
.play-left-nav li{
    height: 86px;
    line-height: 86px;
    padding-left: 20px;
    cursor: pointer;
}
.play-right .hides{
    display: none;
}
.play-right .showbox{
    display: block;
}
.play-left-nav img{
    width: 30px;
    margin-right: 10px;
}
.play-left-nav .play-img{
    width: 28px;
    margin-right: 18px;
    margin-top: -3px;
}
.play-left-nav .skyblue-color{
    background: #00A1EA;
}
.play-right{
    width: 750px;
}
.play-right .popup-namey{
    font-size: 30px;
    color: #00A2E8;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    padding: 25px 0 0px 0;
    font-weight: bold;
}
.play-right .time{
    color: #1b1919ad;
    font-size: 16px;
    margin: 0px 0px 40px;
    text-align: center;
}
.time-unread img{
    margin-right: 10px;
}
.unread-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D2;
    padding: 60px 10px 10px;
    margin: auto;
    width: 96%;
}
.play-right .title-unread{
    font-size: 22px;
}
.play-right .time-unread{
    color: #20AAE8;
    font-size: 16px;
    margin-top: 8px;
}
.play-right .content,.play-right .content-unread{
    font-size: 14px;
    color: #1d1919b5;
    width: 90%;
    text-indent: 2em;
    line-height: 30px;
    margin: auto;
}
.play-right .delet{
    position: absolute;
    right: 20px;
    top: 15px;
}
.play-right .content-unread{
    margin-top: 40px;
}
.play-right .delet-unread{
    position: absolute;
    right: 20px;
    top: 15px;
}
.play-right .return{
    padding: 6px 40px;
    background: #20AAE8;
    color: white;
    font-size: 18px;
    position: absolute;
    right: 40px;
    bottom: -280px;
}
.noread-ul{
    width: 95%;
    margin: auto;
    padding-top: 45px;
}
.noread-lis{
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 20px;
    padding: 10px 0px 20px;
    position: relative;
}
.lis-box{
    display: flex;
    justify-content: space-between;
}
.noread-lis .right{
    margin-right: 145px;
}
.noread-lis .content-s{
    font-size: 14px;
    color: #1d1919b5;
}
.noread-lis img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
.noread-lis .time{
    font-size: 12px;
    position: absolute;
    right: 30px;
    bottom: -33px;
    color: #66BDEE;
    /* font-weight: bold; */
}
.noread-lis .popup-title{
    font-size: 22px;
    color: #00A2E8;
    font-weight: bold;
}
.title-mains,.hasread-title-mains,.allread-title-mains{
    display: none;
}
.title-mains li,.hasread-title-mains li,.allread-title-mains li{
    position: relative;
}

.meg-pop-up{
    z-index: 1;
    height: 260px;
    width: 200px;
    padding: 10px 16px;
    color: white;
    position: absolute;
    right: 110px;
    top: 36px;
    background: #274788;
    display: none;
}
.meg-pop-up li{
    border-bottom: 1px solid #92A4C3;
    height: 50px;
    text-align: left;
}
.meg-pop-up li p{
    position: relative;
}
.standing-p{
    font-size: 11px;
}
.one-p{
    font-size: 12px;
    margin-left: -6px;
    top: 6px
}
.two-p{
    font-size: 10px;
    top: 2px;
}
.message-u{
    margin-top: -4px;
}
.more-a{
    display: block;
    text-align: center;
    margin-top: 6px;
    color: white;
    font-size: 12px;
}
.more-a:hover{
    color: white;
    text-decoration: none;
}

.userset-namerenbox{
    position: absolute;
    left: -150px;
    top: 40px;
    width: 234px;
    height: 34px;
    background: black;
    color: white;
    display: none;
}
.userset-namerenbox .kailong{
    position: absolute;
    top: -10px;
    right: 45px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid black;
}
.userset-namerenbox li{
    float: left;
    width: 116px;
    height: 30px;
    border-right: 1px solid #ffffff9c;
    text-align: center;
    line-height: 30px;
    margin-top: 2px;
}
.userset-namerenbox li:nth-of-type(2){
    border-right: none;
}
.accout-box{
    display: none;
}
.account-balance{
    width: 250px;
    height: 82px;
    background: black;
    position: absolute;
    left: 96px;
    top: 40px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}
.account-balance .kailong{
    position: absolute;
    top: -10px;
    right: 45px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid black;
}
.account-balance  p{
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}
.account-balance  p span{
    color: yellow;
    margin-left: 5px;
}
.account-balance  img{
    width: 26px;
    margin-left: 5px;
    margin-bottom: 4px;
}
.account-balance .inter-cz{
    width: 80px;
    height: 25px;
    background: orange;
    color: white;
    text-align: center;
    line-height: 25px;
    margin-top: 15px;
}